<!DOCTYPE HTML>

<html>
   <head>
	<title>Ilya Verano</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="Ilya Verano. House DJ and producer from Moscow."/>
	<meta name="keywords" content="dj house music clubs ilya verano">
	<link rel="stylesheet" href="static/css/style.css" />
	<link rel="stylesheet" href="static/css/card1.css" />
	<link rel="stylesheet" href="static/css/player.css" />
	<link rel="stylesheet" href="static/css/hamb.css"/>
	<link rel="stylesheet" media="screen and (max-width: 500px)" href="static/css/mobile.css"/>
	<!-- <link rel="stylesheet" media="screen and (max-width: 769px)" href="css/tablet.css"/> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/7e1f435c2c.js" crossorigin="anonymous"></script>
		
   </head>

<body>
	<div id="preload-page" class="preload-page"> 
        <div class="preload"></div>
    </div>
<!--Header & navbar==============================================================-->
<header id="header">
	<div class="menu-wrap">
        <input type="checkbox" class="toggler" name="" id="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu" id="menu">
            <div>
                <div>
                    <ul id="hm_list_links">
                        <li><a href="#home" class="hm_link" >Home</a></li>
                        <li><a href="#bio" class="hm_link">Bio</a></li>
                        <li><a href="#tracks" class="hm_link">Tracks</a></li>
                        <li><a href="#mixes" class="hm_link">Mixes</a></li>
                        <li><a href="#videos" class="hm_link">Video</a></li>
                        <li><a href="#contacts" class="hm_link">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
      
	<nav id="nav">
	<ul class='nav_bar'>
		<li id='logo'> <a class="header_links" href="/">ILYA VERANO</a> </li>
		<div id="push_left">
		<li><a class="header_links" href="#home">Home</a></li>
	    <li><a class="header_links" href="#bio">Bio</a></li>
		<li><a class="header_links" href="#tracks">Tracks</a></li>
		<li><a class="header_links" href="#mixes">Mixes</a></li>
		<li><a class="header_links" href="#videos">Video</a></li>	
        <li><a class="header_links" href="#contacts">Contacts</a></li>	
        </div>		
	</ul>
	</nav>
</header>

<!--Home page====================================================================-->
<section id="home" data-aos="fade-right">
	<div class="content_hp">
		<h2>ILYA VERANO</h2>
		<p>House DJ and producer<br />from Moscow</p>
	</div>
<span id="image_hp" ><img src="static/images/webIMG_0705.jpg" alt="photo1" width="336px"/></span>
</section>


<!-- One Bio ====================================================================-->
<section id="bio" >
	<h2 class="htwo">Bio</h2>
	<div class="content_bio" >
		<span class="image_bio" data-aos="fade-right"><img src="static/images/webIMG_0712.jpg" alt="photo2" width="336px" /></span>					
        <p class='bio_par' data-aos="fade-left">Ilya Verano was born and raised in Omsk. 
			Passion for electronic music manifested himself in school and 
			then grew into an interest in DJing. He quickly bursts into the local scene and becomes 
			a resident of the best nightclubs in Omsk. After graduating from university, he moved to work in Sochi, 
			where he gets acquainted with the basics of sound engineering. Then he decided to move to Moscow, 
			where focus from DJing shifts to making music. Now Ilya is working on his own sound. 
			His tracks combine deep bass, dynamic percussion, sensual synth, and sexy vocals. 
			It's energy music for underground dance floors where people cast their demons out.
			 His first release came out in 2020, on the British label ODTech Select. 
			 Leftwing: Kody supported this track on their live session on Instagram. 
			 Now signed two EPs on Suma Records and Paranoia Music Label, and a single on Pixelate 
			 (Material Series). Stay tuned! </p>
    </div>
</section>

<!--Overlay Music Cards============================================================-->

<div id="overlay2" class="over-card" >
	<div class="card">
		<img src="static/covers/amazing_machine.jpg" alt="amazing_machine" style="width:100%">
		<h3 class="card_text">Ilya Verano - Amazing Machine <br />EP</h3>
		<div class="link_list">
		  	<ul class="card_ul">
		  		<li class="card_spotify">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_spotify.svg" alt="spotify" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://open.spotify.com/album/2EjpEy0JCU44Fl3tOcs0EZ" target="_blanck">PLAY</a>
		  		</li>
		  		<li class="card_beatport">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_beatport.svg" alt="bp" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://www.beatport.com/release/amazing-machine/3298874" target="_blanck">DOWNLOAD</a>
		  		</li>
		  		<li class="card_apple_music">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_applemusic.svg" alt="am" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://music.apple.com/us/album/amazing-machine-single/1557998583" target="_blanck">PLAY</a>
				</li>		  				
		  		<li class="card_sound_cloud">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_soundcloud.svg" alt="sc" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://soundcloud.com/paranoia-music/sets/ilya-verano-amazing-machine" target="_blanck">PLAY</a>
		  		</li>
		  	</ul>
		</div>
	</div>
</div>			

<div id="overlay3" class="over-card" >
	<div class="card" >
		<img src="static/covers/bassline.jpg" alt="bassline" style="width:100%">
		<h3 class="card_text">Ilya Verano - Bassline <br />(Original Mix)</h3>
		<div class="link_list">
		  	<ul class="card_ul">
		  		<li class="card_spotify">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_spotify.svg" alt="spotify" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://open.spotify.com/track/17OI8DkYewbRhDxJVu9K4J?si=279cde85124a44d5" target="_blanck">PLAY</a>
		  		</li>
		  		<li class="card_beatport">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_beatport.svg" alt="bp" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://www.beatport.com/track/bassline/13935676" target="_blanck">DOWNLOAD</a>
		  		</li>
		  		<li class="card_apple_music">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_applemusic.svg" alt="am" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://music.apple.com/ua/album/bassline/1523959301?i=1523959314" target="_blanck">PLAY</a>
		  		</li>
		  		<li class="card_sound_cloud">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_soundcloud.svg" alt="sc" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://soundcloud.com/odtechrecords/ilya-verano-bassline-odtech" target="_blanck">PLAY</a>
		  		</li>
		  	</ul>
		</div>
	</div>
</div>			

<div id="overlay4" class="over-card" >
	<div class="card">
		<img src="static/covers/keep_moving.jpg" alt="keep_moving" style="width:100%">
		<h3 class="card_text">Ilya Verano - Keep Moving <br />EP</h3>
		<div class="link_list">
		  	<ul class="card_ul">
		  		<li class="card_spotify">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_spotify.svg" alt="spotify" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://open.spotify.com/album/1Khf3zVXiXNEb3f6DuEUNO" target="_blanck">PLAY</a>
		  		</li>
				<li class="card_beatport">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_beatport.svg" alt="bp" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://www.beatport.com/release/keep-moving/3153369" target="_blanck">DOWNLOAD</a>
		  		</li>
		  		<li class="card_apple_music">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_applemusic.svg" alt="am" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://music.apple.com/ua/album/keep-moving-single/1535003350" target="_blanck">PLAY</a>
		  		<li class="card_sound_cloud">
		  			<span class="card_span">
		  			<img class='card_img' src="static/covers/music-service_soundcloud.svg" alt="sc" width="124" height="39.69"></span>
		  			<a class="card_link" href="https://soundcloud.com/ilyaverano/sets/ilya-verano-keep-moving-ep" target="_blanck">PLAY</a>
		  		</li>
		  	</ul>
		</div>
	</div>
</div>			

<!-- Two Tracks ============================================================================-->

<section id="tracks">
    <h2 class="htwo">Tracks</h2>
    <div class="gallery" data-aos="zoom-in">
        <div class="music_card">
          	<div class="overlay">
          		<img src="static/covers/player.png" alt="player" class="cover">
			</div>
    		<img src="static/covers/amazing_machine.jpg" alt="amazing_machine" width="400" height="400">
    	</div>
	  	<div class="desc">Ilya Verano - Amazing Machine EP</div>
	</div>

	<div class="gallery" data-aos="zoom-in">
		<div class="music_card">
          	<div class="overlay">
          		<img src="static/covers/player.png" alt="player"  class="cover">
			</div>
     		<img src="static/covers/bassline.jpg" alt="Bassline" width="400" height="400">
 		</div>
  		<div class="desc">Ilya Verano - Bassline (Original Mix)</div>
	</div>

	<div class="gallery" data-aos="zoom-in">
		<div class="music_card">
          	<div class="overlay">
          		<img src="static/covers/player.png" alt="player" class="cover">
			</div>
    		<img src="static/covers/keep_moving.jpg" alt="keep_moving" width="400" height="400">
		</div>
 		<div class="desc">Ilya Verano - Keep Moving EP</div>
	</div>
</section>

<!-- Three Mixes ===========================================================================-->
<section id="mixes">
    <h2 class="htwo">Mixes</h2>
  	<div class="mixes_content">

<!-- Player1	 -->	
		<div class="box" data-aos="slide-up">
			<div class="button"><span id='play' class="play-button fa fa-play-circle"></span></div>
				<div class="text">
					<div class="title"><h2 class='steam_train_head'>Steam Train </h2></div>
					<span class="owner">by Ilya Verano</span>
				</div>
				<audio src="static/audio/steam_train.mp3" class="track"></audio>

<!-- Progress -->
			    <div class="progress-container" id="progress-container">
			        <div class="progress" id="progress"></div>
			            <div class="duration-wrapper">
			                <span id="current-time" class="current-time">0:00</span>
			                <span id="duration" class="duration">...</span>
			            </div>
			        </div>
				</div>
<!-- Player 2 -->

		<div class="box" data-aos="slide-up">
			<div class="button"><span id='play2' class="play-button play fa fa-play-circle"></span></div>
				<div class="text">
					<div class="title"><h2 class='steam_train_head'>Deep Emotions</h2></div>
					<span class="owner">by Ilya Verano</span>
				</div>
				<audio src="static/audio/deep_emotions.mp3" class="track" ></audio>

<!-- Progress -->
				<div class="progress-container" id="progress-container2">
				    <div class="progress" id="progress2"></div>
				        <div class="duration-wrapper">
					        <span id="current-time2" class="current-time">0:00</span>
					       	<span id="duration2" class="duration">...</span>
				        </div>
				    </div>
				</div>

<!-- Player 3 -->
		<div class="box" data-aos="slide-up">
			<div class="button"><span id='play3' class="play-button fa fa-play-circle"></span></div>
				<div class="text">
					<div class="title"><h2 class='steam_train_head'>Warm Blanket</h2></div>
						<span class="owner">by Ilya Verano</span>
					</div>
					<audio src="static/audio/warm_blanket.mp3" class="track"></audio>

<!-- Progress -->
				<div class="progress-container" id="progress-container3">
				    <div class="progress" id="progress3"></div>
				    	<div class="duration-wrapper">
				            <span id="current-time3" class="current-time">0:00</span>
				            <span id="duration3" class="duration">...</span>
				        </div>
				    </div>
				</div>   
    </div>						
</section>


<!-- Four Videos -->
<section id="videos">
	<h2 class="htwo">Video</h2>
	<div id="video" data-aos="zoom-in">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/SJUqRjuxgck" ></iframe>
	</div>
</section>

<!-- Five Contacts ===================================================================================-->
<section id="contacts">
<h2 class="htwo">Contacts</h2>
<div class="container" data-aos="zoom-in">
		<p id="for_bnp">For booking and promos:<br /> info@ilyaverano.com</p>
        <p>SIGN UP FOR NEWS FROM ILYA:</p>
		<form method="post" action="submit_form" class="cta" id="form">
			<div class="conatct_inputs">
				<div id="eml"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
					<div class="col-4 col-12-xsmall"><input type="submit" value="Submit" class="fit primary" id="sub" /></div>
			</div>
		</form>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<ul class="icons">
       	<li class="facebook"><a id="facebook_link" class='icon_links' href="https://facebook.com/ilyaverano" target="_blank" rel="nofollow"> <i class="fab fa-facebook fa-1x"></i> </a></li>
        <li class="spotify"><a id="spotify_link" class='icon_links' href="https://open.spotify.com/artist/4ZXJN9bCzeucki6SjUzenV?si=AGnn88sETSakp8WvarEjTgs" target="_blank" rel="nofollow"> <i class="fab fa-spotify fa-1x"></i> </a></li>
        <li class="soundcloud"><a id="soundcloud_link"  class='icon_links' href="https://soundcloud.com/ilyaverano" target="_blank" rel="nofollow"> <i class="fab fa-soundcloud fa-1x"></i> </a></li>
        <li class="instagram"><a id="inst_link" class='icon_links' href="https://instagram.com/ilyaverano" target="_blank" rel="nofollow"> <i class="fab fa-instagram fa-1x"></i> </a></li>
	</ul>
</footer>

<script src="static/js/script.js" type="text/javascript"></script>
<script src="static/js/player.js" type="text/javascript"></script>
<script src="static/js/burger.js" type="text/javascript"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init({
  duration: 1200,
})
  </script>
</body>
</html>













